/* [START] Loading */

.loading {
    position: fixed;
    z-index: 1000 !important;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #f2f4ff;
    transition: opacity 0.2s;
    opacity: 1;
}

html[data-loaded] .loading {
    opacity: 0;
    pointer-events: none !important;
}

.loading .loading-icon,
.loading .loading-icon-overlay {
    position: absolute;
    width: 15vh;
    height: 15vh;
    margin: 42.5vh calc(50vw - 7.5vh);
}

.loading text {
    position: absolute;
    width: 80vw;
    margin: 60vh calc(50vw - 40vw);
    text-align: center;
    font-size: 2.5vh;
    color: #858ec1;
    opacity: 0;
    -moz-animation: showText 0.2s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: showText 0.2s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: showText 0.2s ease-in 2s forwards;
    /* Opera */
    animation: showText 0.2s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes showText {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showText {
    to {
        opacity: 1;
    }
}

.loading .loading-icon .wing,
.loading .loading-icon .tail,
.loading .loading-icon .head {
    fill: #879cf7;
    animation: loading-anim-first 2s infinite;
}

.loading .loading-icon .tail-shadow-1 {
    fill: #abbbff;
    animation: loading-anim-second 2s infinite;
}

.loading .loading-icon .wing-shadow,
.loading .loading-icon .tail-shadow-2,
.loading .loading-icon .head-shadow {
    fill: #cbd5ff;
    animation: loading-anim-third 2s infinite;
}

.loading .loading-icon-overlay {
    background: linear-gradient(90deg, transparent 0%, #f2f4ff40 12%, #f2f4ff40 19%, transparent 25%);
    background-size: 600%;
    background-position: 100% 0%;
    animation: skeletonAnimation 2s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.71, 0.04, 0.21, 0.7);
    /* ease-in-out */
    color: transparent;
}

@keyframes skeletonAnimation {
    0% {
        background-position: 100% 0%;
    }
    99.99% {
        background-position: -30% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@keyframes loading-anim-first {
    0% {
        fill: #879cf7;
    }
    90% {
        fill: #0A2BC0;
    }
    100% {
        fill: #879cf7;
    }
}

@keyframes loading-anim-second {
    0% {
        fill: #abbbff;
    }
    90% {
        fill: #526FFF;
    }
    100% {
        fill: #abbbff;
    }
}

@keyframes loading-anim-third {
    0% {
        fill: #cbd5ff;
    }
    90% {
        fill: #A5B4FF;
    }
    100% {
        fill: #cbd5ff;
    }
}


/* [END] Loading */

html,
body {
    background-color: #f3f3f3;
}

.topbar {
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px -4px 8px black;
}

.topbar * {
    display: inline-block;
}

.topbar .logo {
    width: 70px;
    height: 70px;
    margin: 15px;
    position: absolute;
}

.topbar .options {
    margin-left: 100px;
    font-size: 20px;
    padding: 38px 10px;
    width: calc(100% - 100px - 20px - 280px);
    overflow: hidden;
    margin-right: 8px;
    height: 100px;
}

.topbar .options * {
    margin: 0px 18px;
    font-weight: 300;
}

.topbar .options *.selected {
    font-weight: 400;
}

.topbar .side {
    width: 256px;
    font-size: 20px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    height: 100px;
    position: absolute;
    right: 16px;
    top: 0px;
}

.button {
    background-color: #1139f3;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    margin: 26px auto;
    box-shadow: 1px 1px 4px #6b85ff;
    cursor: pointer;
    font-size: 18px;
    transition: box-shadow 0.16s;
}

.button:hover {
    box-shadow: 1px 2px 8px #1841ff;
}

.button:active {
    box-shadow: 1px 2px 8px #1841ff;
    background-color: #0024ce;
}

[no-select],
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

[select] {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-user-drag: all;
    -khtml-user-drag: all;
    -moz-user-drag: all;
    -o-user-drag: all;
    user-drag: all;
}

[disabled] {
    pointer-events: none !important;
    opacity: 0.2;
    filter: saturate(0.8);
}